<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balloon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Balloon">

        <!--SplashActivity-->
        <activity
            android:name=".ui.components.activities.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginOptionActivity -->
        <activity
            android:name=".ui.components.activities.loginOption.LoginOptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- LoginActivity -->
        <activity
            android:name=".ui.components.activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- VerificationActivity -->
        <activity
            android:name=".ui.components.activities.verification.VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- HomeActivity -->
        <activity
            android:name=".ui.components.activities.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- SettingActivity -->
        <activity
            android:name=".ui.components.activities.settings.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!--UCropActivity-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusBarPrimaryColor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.balloon.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>


    </application>



</manifest>